<!DOCTYPE html>

<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>Just 賭 It</title>
  <link href="../../assets/stylesheets/style.css" rel="stylesheet" media="screen" />
</head>
<body>
<!-- Wrap all the page -->
<div class="wrapper">
	<!-- 960px -->
	<div class="container_1">
	<!-- navagation bar starts-->
			<ul>
			<li class="li1">Fans</li>
			<li class="li1">Following Player</li>
			<li class="li1">Following Event</li>
			<li class="li1"><a href="http://aqueous-springs-9464.herokuapp.com/events/new">Create Event</a></li>
			<li class="li2">Profile</li>
			</ul>
	<!-- navagation bar ends-->

	<!-- 橫幅圖片 -->
	<!-- 活動左方分類欄 -->
	<div class="left_box hight2">
		<h1>Top 10 Event</h1>
	</div>
	<div class="right_box hight2">
		<h1>Top 10 Player</h1>
	</div>
	<div class="container_3">
		<div class="title-border-bottom">
			<h1>The Lastest Event</h1>
				<!-- 活動簡介內框  -->
				<div class="adjust-left">
				</div>
			
		</div>	
	
	</div>
	
	</div>
	<!-- container_1 ends here -->

<div class="footer">
			<p>Copyright © 2013 Just 賭 It 集團 All Rights Reserved
			</p>
</div>

</div>

<!-- Wrap all the page -->




</body>
</html>