<!DOCTYPE html>

<html>
<head>
</head>
<body>

	<div class = "page-header">
		<h1>Profile</h1>
	</div>
	<table border="0" style="width: 480px; height: 130px;">
    <tbody>
      <tr>
        <td>Name :</td>
        <td><%= current_user.name %></td>
      </tr>
      <tr>
        <td>Email :</td>
        <td><%= current_user.email %></td>
      </tr>
      <tr>
        <td>Post Count :</td>
        <td><%= current_user.post %></td>
      </tr>
      <tr>
        <td>Image :</td>
        <td><img src="https://graph.facebook.com/<%=current_user.uid%>/picture?type=large"></td>
      </tr>
    </tbody>
  </table>

</body>
</html>